.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  background-color: #f1f1f1;
  padding-right: 55px;
  padding-left: 55px;
}

.req-btn {
  border: none;
  background: none;
  font-weight: 200;
  line-height: 20px;
  font-family: 'Lexend Deca', sans-serif;
  font-style: normal;
  line-height: normal;
  cursor: pointer;
}

.logo h2 {
  font-weight: 500;
  font-size: 36px;
  line-height: 38.73px;
}

.navbar-center {
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 0;
  color: #000;
  font-family: 'Lexend Deca', sans-serif;
  font-style: normal;
  line-height: normal;
  border-top: 2px solid transparent;
}

.navbar-center li {
  position: relative;
}

.navbar-center a {
  color: #000000;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
}


.navbar-center a.active {
  color: #21856B;
}

.navbar-center  a.active:not(.dropdown-content a):before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #21856B;
  top: -34px;
}



.navbar-right {
  display: flex;
  align-items: center;
  width: 276px;
  gap: 35px;
}

.dropdown {
  position: relative;
  display: inline-block;
  --hover-distance: 12px;
  padding-bottom: var(--hover-distance);
}

.dropdown span {
  color: #000000;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  position: relative;
}


.dropdown svg {
  margin-left: -1px;
  vertical-align: middle;
  color:black
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
  z-index: 1;
  
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
  margin-top: var(--hover-distance);
}

a {
  text-decoration: none;
}

.add-services-btn {
  border: none;
  background-color: #20856a;
  border-radius: 10px;
  line-height: 20px;
  font-weight: 200;
  color: #FFFFFF;
  padding: 4px 10px;
  font-family: 'Lexend Deca', sans-serif;
  font-style: normal;
  line-height: normal;
  cursor: pointer;
} 



.navbar-center li a.active {
  color: #21856B;

}

.login-icon {
  position: absolute;
  margin-top: 3px;
  margin-left: -1vh;
}

.request-service{
  display: flex;
}

.sign-in-modal{
  cursor: pointer;
}